<ion-content [fullscreen]="true">

        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-xl="6">

                <ion-row>
                    <ion-col size="4" size-xl="3"></ion-col>
                        <img src="https://fotos.amomeupet.org/uploads/fotos/412x0_1680803837_642f07fd43665_hd.jpg"style="max-width: 300px;">
                        <ion-item>
                            <ion-col size="8"  size-xl="9"></ion-col>
                            <ion-label>
                                <h1>Carlos Antônio</h1>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-tabel>Programador</ion-tabel>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-tabel>Português</ion-tabel>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-tabel>Localidade</ion-tabel>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-tabel>Localidade</ion-tabel>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-tabel>desde Janeiro de 2020</ion-tabel>
                            </ion-label>
                        </ion-item>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item lines="none">
                            <ion-label>
                                <h2>Biografia</h2>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, odit ut sequi eaque sed, delectus dignissimos totam laboriosam blanditiis rem, temporibus deleniti! Voluptatem labore enim minima delectus soluta consequatur magnam.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-label>
                                <h3>45.6k</h3>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>
                                <h5>Curtidas</h5>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-label>
                                <h3>45.6k</h3>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>
                                <h5>Seguindo</h5>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="4">
                        <ion-item lines="none">
                            <ion-label>
                                <h3>45.6k</h3>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>
                                <h5>Amigos</h5>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>



            </ion-col>
        </ion-row>
    
</ion-content>

